@import "bourbon";

@import "reset/reset";

body {
  font-family: Roboto;
  background-color: #F5F6F7;
  height: 150vh;
  padding-bottom: 5vh;
}

hr {
    border: 0;
    height: 1px;
    background: #D0D2D6;
    margin: 48px 0;
    ;
}

p, h1, h2, h3, h4, h5, ul, li{
  color: #444751
}
.h0{
  font-size: 64px;
  line-height: 72px;
}

h1{
  font-size: 40px;
  line-height: 48px;
}
h2{
  font-size: 32px;
  line-height: 38px;
}
h3{
  font-size: 24px;
  line-height: 30px;
}

h4{
  font-size: 18px;
  line-height: 24px;
}

a{
  text-decoration: none;
  color: #0091EA;
}

.font-bold{
  font-weight: 800;
}



.navigation{
  background-color: #fff;
  height: 64px;
  width: 100vw;
  box-shadow: 0 4px 4px 2px rgba(89,89,89,0.03);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  z-index: 1000;
}

.logo{
  padding: 24px;
  img{
    width: 64px;
  }
}

.master-container {
  @include margin(5vh auto);
  @include padding(null 1rem);
  max-width: 696px;
  padding-top: 96px;
}

.header-container{
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 696px;
}

.goal-icon{
  margin-right: 16px;
  height: 80px;
  width: 80px;
  border-radius: 16px;
  background-color: #B68F96;
  float: left;
  display: inline;
}

.goal-header{

  h1, p{
    margin-bottom: 4px;
    margin-top: 0;
  }
}

.goal-select-link{
  align-self: flex-end;
  margin-left: 40px;
  float: right;
}

//Goal select

.category-select{
  padding: 48px 32px;
  max-width: 696px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(89,89,89,0.32);
  border-radius: 4px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  a{
    text-decoration: none;
    color: #444751
  }
}

.option-select{
  padding: 24px 16px;
  max-width: 696px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(89,89,89,0.32);
  border-radius: 4px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  a{
    text-decoration: none;
    color: #444751
  }
}

.option-select__icon{
 margin-right: 8px;
 height: 24px;
 width: 24px;
 border-radius: 6px;
 background-color: #B68F96;
 float: left;
 display: inline;
}


//Step Cards

.step-card{
  padding: 24px;
  margin-bottom: 40px;
  max-width: 696px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(89,89,89,0.32);
  border-radius: 4px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  p{
    max-width: 520px;
    line-height: 1.5;
  }
  h2{
    margin: 4px;
  }
}


.goal-step__icon{
 margin-right: 8px;
 height: 40px;
 width: 40px;
 border-radius: 6px;
 background-color: #B68F96;
 float: left;
 display: inline;
}

.step-cta{
  align-self: flex-end;
}

//Register page
.container-register{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;

}

.register-form-container{
  background-color: #fff;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

}

.register-info-container{
  background-color: #F5F6F7;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

}

//Forms

#email, #password {
  height: 56px;
  width: 280px;
  border: 1px solid #D0D2D6;
  margin-bottom: 16px;
  border-radius: 8px;
  padding-left: 16px;
}

.btn-xlarge, [type="submit"]{
  padding: 18px 32px;
  color: #fff;
  background-color: #0091EA;
  border: 1px solid #0091EA;
  border-radius: 8px;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
    &:hover{
      background-color: #0075BC;
    }
}

.button.is-primary{
  background-color: #0091EA;
  border: 1px solid #0091EA;
  font-weight: 800;
  &:hover{
    background-color: #0075BC;
  }
}

.button.is-large{
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 18px;
}

.img-fluid{
  max-width: 100%;
  height: auto;
}

//Home

.section{
  padding: 72px 0;
  flex-direction: column;
  justify-content: center;

}

.container-home{
  max-width: 1200px;
  margin: 0 auto;
}




.bg-gray{
  background-color: #F5F6F7;
}

.bg-white{
  background-color: #FFF;
}
