<header>
  <div class="header-container">
    <div class="goal-header">
      <h1> Select a new goal that you'd like help with.</h1>
      <p>Select an opton that best fits your goals right now.</p>
    </div>
</header>
<main>
  <% app.data.table_1.records.each do |name| %>
  <a href="/<%= name.id %>">
    <div class="option-select">
      <div>
        <h3><%= name.fields.Name %></h3>
      </div>
    </div>
    </a>
  <% end %>
</main>
